body {
    text-align: center;
}
#tables {
    display: flex;
    justify-content: center;
}
#left-table, #right-table {
    border-collapse: collapse;
    margin: 20px;
}
table, th, td {
    border: 1px solid black;
    padding: 8px;
}
button {
    margin: 10px;
}

/* Style pour masquer l'élément d'entrée de fichier */
input[type="file"] {
    display: none;
}

/* Style personnalisé pour le bouton de sélection de fichier */
.custom-file-input::after {
    content: "Choose File";
    display: inline-block;
    background: #007bff;
    color: #fff;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

/* Style pour entourer le label */
label {
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 4px 8px;
    cursor: pointer;
}

/* Style pour le survol du bouton de sélection de fichier */
.custom-file-input:hover + label {
    border-color: #0056b3;
}
